.logo{
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
}
body{
    background-image: linear-gradient(rgb(255,255,255),#6795bf);
    height: 97vh;
}
.container{
    max-width: 955px;
    background-color: rgb(130 173 221);
    margin: auto;
    height: 60vh;
    padding: 30px;
    overflow-y: auto;
    margin-bottom: 10px;
}
.message{
    background-color: rgb(241, 242, 246);
    width: 25%;
    padding: 10px;
    margin:20px 10px;
    border-radius: 20px;
}
.left{
    float:left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
#send-container{
    text-align: center;
    margin: 20px;
    max-width: 985px;
    width: 100%;
    display: block;
    margin: auto;
}
#messageIp{
    width: 93%;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
}
.btn{
    width: 6%;
    height: 34px;
    cursor: pointer;
    border-radius: 5px;
}